  .no-scrollbar::-webkit-scrollbar {
      display: none;
      /* For Chrome, Safari, and Opera */
  }

  .no-scrollbar {
      -ms-overflow-style: none;
      /* For Internet Explorer and Edge */
      scrollbar-width: none;
      /* For Firefox */
  }

  html {
      scroll-behavior: smooth;
  }